body{
      background-image: linear-gradient(rgba(51,51,51,.6), rgba(51,51,51,.6)),  url("https://images.pexels.com/photos/685534/pexels-photo-685534.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
     -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height:100vh!important;
      /*overflow-y:hidden;*/
      background-position:center center;
      font-family: 'Quicksand', sans-serif;
}

@media screen(992px) {
  
}

nav{
    position:absolute;
    top:0;
    background:rgba(0,0,0,0.3)!important;
    box-shadow:0px 20px 40px rgba(0,0,0,0.3);
}

.fa-camera-retro{
    text-shadow:1px 1px 0px white;
    font-size:36px;
}

nav .navbar-brand{
    padding-bottom:2px;
    /*text-decoration:underline!important;*/
  letter-spacing:4px;   
  text-transform:uppercase;
  transition: 0.6s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border: 4px solid transparent;
  padding: 10px;
  font-family: 'Montserrat', sans-serif!important;
}
nav .navbar-brand:hover {
/*color:black!important;*/
/*border-top:2px solid black;*/
border:4px solid red;
box-shadow:4px 4px 0px white;
}

.nav-item{
  letter-spacing:2px;   
  text-transform:uppercase;
  transition: 0.6s;
  color: #ffffff!important;
  font-size: 16px;
  text-decoration: none;
  border: 2px solid transparent;
  /*padding: 10px;  */
  background:rgba(0,0,0,0);
}

.nav-item:hover {
  border: 2px solid red;
  box-shadow:5px 5px 0px white;
}

input textarea{
    color:white!important;
}

input::placeholder{
    color: white!important;
}

input.transparent-input{
    border-radius:0px;
       background-color:rgba(0,0,0,0) !important;
       border:3px solid white !important;
}

input.transparent-input:hover{
       background-color:rgba(0,0,0,0) !important;
       border:4px solid white !important;
       box-shadow:5px 5px 0px red;
}

#main{
  height:88vh;
}

#over div.text1{
  position:relative;
  top:200px;
  left:140px;
  z-index:1;
  background:white;
  max-height:300px!important;
  box-shadow:0px 20px 40px rgba(0,0,0,0.3);
}

#over img{
  box-shadow:0px 30px 60px rgba(0,0,0,0.3);
}

#over p{
  font-size:24px;
  font-family: 'Dosis', sans-serif;
    font-style: italic;
}
#over{
  padding-top:100px;
  padding-bottom:100px;
  height:600px;
  background:#333;
  /*box-shadow:0px 40px 40px rgba(0,0,0,0.3);*/
}

#over #img1{
  width:60%;
  position:relative;
  border:4px solid #B11228;
  top:0px;
  left:20;
  box-shadow:0px 20px 40px rgba(0,0,0,0.7);
}

#over #img2{
  width:60%;
  position:relative;
  border:4px solid #B11228;
  top:0px;
  left:50px;
  box-shadow:0px 20px 40px rgba(0,0,0,0.7);
}

#over #img3{
  width:60%;
  position:relative;
  border:4px solid #B11228;
  top:0px;
  left:100px;
  box-shadow:0px 20px 40px rgba(0,0,0,0.7);
}

#cards{
    padding-top:100px;
  padding-bottom:100px;
  border:20px solid #333!important;
  height:800px;
  background-image: linear-gradient(rgba(51,51,51,.7), rgba(51,51,51,.7)),  url("https://images.pexels.com/photos/414029/pexels-photo-414029.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size:cover;
}

#cards .card{
  background:#333;
  margin:auto;
  margin-top:50%;
  box-shadow:0px 20px 40px solid rgba(0,0,0,0.3);
  transition: 1s ease;
}

#cards .card:hover{
  transform:scale(1.1,1.1);
}

#cards i{
  font-size:64px;
  padding-top:10px;
  padding-bottom:10px;
}

#recensies{
  padding-top:100px;
  padding-bottom:100px;
  width:100vw!important;
  /*display:table-cell;*/
  vertical-align:middle;
  border:20px solid #333!important;
  height:800px;  
  background-image: linear-gradient(rgba(51,51,51,.8), rgba(51,51,51,.8)),  url("https://images.pexels.com/photos/42400/pexels-photo-42400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size:cover;
  background-position:bottom;

}

#recensies .col-lg-8{
  margin:auto;
  margin-top:20%;
}

#recensies .far , .fas , .fab , .fa{
  color:#b11228;
}

#recensies .vertical-align{
  display:inline-block;
}

#prijzen{
  display:table-cell;
  
    padding-top:100px;
  padding-bottom:100px;
  width:100vw!important;
  /*display:table-cell;*/
  vertical-align:middle;
  border:20px solid #333!important;
  height:800px;  
  background-image: linear-gradient(rgba(51,51,51,.9), rgba(51,51,51,.7)),  url("https://images.pexels.com/photos/28080/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size:cover;
  background-position:bottom;
  -webkit-clip-path: polygon(100% 20%, 100% 59%, 0 76%, 0 38%);
clip-path: polygon(100% 20%, 100% 59%, 0 76%, 0 38%);
}

#prijzen .card{
  margin:auto;
  display:inline-block;
}

.bg{
  background:#333!important;
}

#form{
    padding-top:100px;
  padding-bottom:100px;
  width:100vw!important;
  display:table-cell;
  border:20px solid #333!important;
  height:600px;  
background: #ED213A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  vertical-align: middle;
}

#form .col-lg-10 {
  display:block;
  height:400px;
  background:#333;
  margin-top:auto;
  margin-bottom:auto;
  box-shadow:0px 20px 40px rgba(0,0,0,0.3);
}

#form input{
  height:30px;
  border-radius:3px;
  /*border:2px solid rgba(0,0,0,0);*/
}

#form img{
  -webkit-clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
}

#form .form-group{

}



.btn-outline-light{
    border-radius:0px!important;
    border:2px solid white!important;
    background:rgba(0,0,0,0.15)!important;
    box-shadow:0px 20px 40px rgba(0,0,0,0.2);
}

.btn-outline-light:hover{
       background-color:rgba(0,0,0,0) !important;
       box-shadow:5px 5px 0px #b11228;
       color:white!important;
}

h1 {
    /*letter-spacing: 8px;*/
    font-weight:700;
    text-align:center;
    /*text-transform:uppercase;*/
}
h5 {
    letter-spacing: 3px;
}
.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

.signature{
    position:absolute;
    bottom:20px;
    left:10%;
}
/*FOOTER*/

#myFooter{
  background:#333;
  font-weight:bold;
}

#myFooter h5{
  color:white;
  
}

#myFooter a{
  color:#B11228;
}

#myFooter .fab{
  font-size:32px;
  padding:10px;
  color:white;
}

#myFooter p{
  color:#707070;
}

/*ANIMATIONS*/

.d10s{
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.d12s{
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.d14s{
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.d16s{
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.d18s{
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.d20s{
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.d22s{
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}

.d24s{
  -webkit-animation-delay:2.4s;
  animation-delay: 2.4s;
}

.d26s{
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
}

.d28s{
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

.d30s{
  -webkit-animation-delay: 3.0s;
  animation-delay: 3s;
}

.d32s{
  -webkit-animation-delay: 3.2s;
  animation-delay: 3.2s;
}

.hvr-bounce-to-bottom {
  display: inline-block;
  color:black;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color:black!important;
  background: white;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: black;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  color:black;
}

